.weather-section {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .current-weather {
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.button-group {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .weather-section .current-weather {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .button-group {
    align-items: center;
    justify-content: center;
  }
}